@{
    
}

<div class="footer-item">
    <p class="footer-creditos">
        Powered by Petit CMS
    </p>
</div>

<div class="footer-item">
    <p class="footer-info">
        &copy; Tu Compañia 2012
    </p>
</div>
